<main>
  <div class="table-wrapper" tabindex="0">
    <table>
    <thead>
      <tr>
        <th>Drink</th>
        <th>Emoji</th>
        <th>Calories</th>
        <th>Carbohydrates (g)</th>
        <th>Total Sugar (g)</th>
        <th>Protein (g)</th>
        <th>Total Fat (g)</th>
        <th>Total Fiber (g)</th>
        <th>Cholesterol (mg)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text">milk</td>
        <td class="text">🥛</td>
        <td class="numeric">149.0</td>
        <td class="numeric">11.7</td>
        <td class="numeric">12.3</td>
        <td class="numeric">7.7</td>
        <td class="numeric">8.0</td>
        <td class="numeric">0.0</td>
        <td class="numeric">24.4</td>
      </tr>
      <tr>
        <td class="text">coffee</td>
        <td class="text">☕️</td>
        <td class="numeric">2.0</td>
        <td class="numeric">0.0</td>
        <td class="numeric">0.0</td>
        <td class="numeric">0.3</td>
        <td class="numeric">0.0</td>
        <td class="numeric">0.0</td>
        <td class="numeric">0.0</td>
      </tr>
      <tr>
        <td class="text">green tea</td>
        <td class="text">🍵</td>
        <td class="numeric">2.5</td>
        <td class="numeric">0.0</td>
        <td class="numeric">0.0</td>
        <td class="numeric">0.5</td>
        <td class="numeric">0.0</td>
        <td class="numeric">0.0</td>
        <td class="numeric">0.0</td>
      </tr>
      <tr>
        <td class="text">sake</td>
        <td class="text">🍶</td>
        <td class="numeric">39.0</td>
        <td class="numeric">1.5</td>
        <td class="numeric">0.0</td>
        <td class="numeric">0.1</td>
        <td class="numeric">0.0</td>
        <td class="numeric">0.0</td>
        <td class="numeric">0.0</td>
      </tr>
      <tr>
        <td class="text">champagne</td>
        <td class="text">🍾</td>
        <td class="numeric">89.0</td>
        <td class="numeric">1.6</td>
        <td class="numeric">0.0</td>
        <td class="numeric">0.4</td>
        <td class="numeric">0.0</td>
        <td class="numeric">0.0</td>
        <td class="numeric">0.0</td>
      </tr>
      <tr>
        <td class="text">red wine</td>
        <td class="text">🍷</td>
        <td class="numeric">125.0</td>
        <td class="numeric">3.8</td>
        <td class="numeric">0.9</td>
        <td class="numeric">0.1</td>
        <td class="numeric">0.0</td>
        <td class="numeric">0.0</td>
        <td class="numeric">0.0</td>
      </tr>
      <tr>
        <td class="text">martini</td>
        <td class="text">🍸</td>
        <td class="numeric">210.0</td>
        <td class="numeric">1.0</td>
        <td class="numeric">0.0</td>
        <td class="numeric">0.0</td>
        <td class="numeric">0.0</td>
        <td class="numeric">0.0</td>
        <td class="numeric">0.0</td>
      </tr>
      <tr>
        <td class="text">tropical drink</td>
        <td class="text">🍹</td>
        <td class="numeric">245.0</td>
        <td class="numeric">32.0</td>
        <td class="numeric">31.5</td>
        <td class="numeric">0.6</td>
        <td class="numeric">2.7</td>
        <td class="numeric">0.4</td>
        <td class="numeric">0.0</td>
      </tr>
      <tr>
        <td class="text">beer</td>
        <td class="text">🍺</td>
        <td class="numeric">153.0</td>
        <td class="numeric">12.6</td>
        <td class="numeric">0.0</td>
        <td class="numeric">1.6</td>
        <td class="numeric">0.0</td>
        <td class="numeric">0.0</td>
        <td class="numeric">0.0</td>
      </tr>
      <tr>
        <td class="text">whiskey</td>
        <td class="text">🥃</td>
        <td class="numeric">70.0</td>
        <td class="numeric">0.0</td>
        <td class="numeric">0.0</td>
        <td class="numeric">0.0</td>
        <td class="numeric">0.0</td>
        <td class="numeric">0.0</td>
        <td class="numeric">0.0</td>
      </tr>
      <tr>
        <td class="text">soft drink</td>
        <td class="text">🥤</td>
        <td class="numeric">151.0</td>
        <td class="numeric">38.9</td>
        <td class="numeric">38.9</td>
        <td class="numeric">0.0</td>
        <td class="numeric">0.0</td>
        <td class="numeric">0.0</td>
        <td class="numeric">0.0</td>
      </tr>
    </tbody>
  </table>
  </div>
 
  <p>Data from <a href="https://www.eatthismuch.com/">eat this much</a> food browser</p>
</main>